<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>









    <title>Farmacia Soluciones</title>
</head>
<body>

<div class="container">







<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Farmacia Soluciones</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/facturar">Facturar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/administrar_producto">Administrar producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nuevo_producto">Agregar nuevo producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registros">Registro</a>
          </li><li class="nav-item">
            <a class="nav-link" href="/metricas">Metricas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/notificaciones">Eventos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ session['user_name'] }}
            </a>
            <ul class="dropdown-menu">

              <li><a class="dropdown-item" href="{{ url_for('logout') }}">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>


<div class="container" style="margin-top: 80px;">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
